@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>
<br />
<p>All data is stored temporarily on the server and permanently deleted immediately after the generation action is carried out.</p> 

<p>Data uploaded is not available to site admin or anyone else.</p>
