@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>
<br />
<p>Data uploaded is used purely for the purposes of document generation. All data is stored temporarily on the server and permanently deleted immediately after the generation action is carried out.</p> 

<p>Data uploaded is not accessible to site admin or anyone else. No affiliate/advertising links or any other form of data collection are used on this site.</p>
