@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    <p>
    
    Your data has already been deleted as per our  <a href="/Home/Privacy">data protection policy</a> . Please <a href="/SingleFileUpload/Index">click here</a> to restart the process.
    </p>
}
